<?xml version="1.0" encoding="utf-8" ?>
<linker>
	<assembly fullname="Auth0Sample">
		<type fullname="*"></type>
	</assembly>
	<assembly fullname="Auth0Sample.Android">
		<type fullname="*"></type>
	</assembly>
    <assembly fullname="Auth0.OidcClient">
        <type fullname="*" />
    </assembly>
    <assembly fullname="Auth0.OidcClient.Core">
        <type fullname="*" />
    </assembly>
	<assembly fullname="IdentityModel">
		<type fullname="*"></type>
	</assembly>
	<assembly fullname="IdentityModel.OidcClient">
		<type fullname="*"></type>
	</assembly>
	<assembly fullname="Microsoft.IdentityModel.Tokens">
		<type fullname="*"></type>
	</assembly>
	<assembly fullname="System.IdentityModel.Tokens.Jwt">
		<type fullname="*"></type>
	</assembly>
</linker>